@import url("https://fonts.googleapis.com/css?family=ABeeZee|Archivo+Black|Bigshot+One");
.navegation {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'a b b'; }
  .navegation .logotype {
    margin: 0;
    display: inline-flex;
    width: 300px;
    padding: 10px;
    grid-area: a; }
    .navegation .logotype .avatar {
      margin: auto 10px;
      display: inline-flex;
      border-radius: 50%;
      border: 5px solid #f8f8f8;
      content: ' ';
      width: 60px;
      height: 60px;
      background-color: #e2e2e2; }
    .navegation .logotype .text {
      margin: auto 0;
      margin-left: 0;
      display: inline-flex;
      text-align: left;
      justify-content: center;
      font-size: 18pt; }
  .navegation nav {
    background-color: white;
    width: auto;
    display: inline-flex;
    margin: auto 0;
    grid-area: b; }
    .navegation nav ul {
      display: flex;
      list-style: none;
      float: right;
      margin-right: 0; }
      .navegation nav ul li {
        display: inline-flex; }
        .navegation nav ul li a {
          padding: 15px 30px;
          text-decoration: none;
          color: #888888;
          font-size: 11pt; }
          .navegation nav ul li a:hover {
            color: #565656; }

footer {
  width: 100%;
  grid-area: footer;
  display: grid;
  align-items: center;
  justify-content: center; }
  footer .copy {
    margin: 0 auto;
    font-size: 10pt;
    text-align: center; }
    footer .copy .heart {
      color: red; }

.last-articles {
  margin: 0;
  margin-top: 30px;
  grid-area: c;
  min-width: 200px; }
  .last-articles .title {
    margin-bottom: 10px; }
  .last-articles ul.articles {
    list-style: none;
    display: grid;
    grid-template-areas: 'p p p'; }
    .last-articles ul.articles li {
      grid-area: p;
      margin: 0; }
      .last-articles ul.articles li .title {
        margin: 0; }
      .last-articles ul.articles li .content {
        margin-bottom: 5px;
        font-size: 10pt; }
      .last-articles ul.articles li .link {
        font-size: 11pt;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.05); }

.post {
  max-width: 700px; }
  .post h1.title {
    margin: 0;
    font-size: 4em; }
  .post h2, .post h3 {
    margin-top: 10px; }
  .post .highlight {
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0; }
  .post a {
    background-color: #f1f1f1;
    padding: 3px 5px; }
    .post a:hover {
      background-color: #e9e9e9;
      color: #555; }

.screen {
  width: 500px;
  height: 320px;
  display: grid;
  background-clip: content-box;
  background-color: #fff;
  padding: 10px; }
  .screen::before {
    z-index: -1;
    content: ' ';
    background: url(../background.jpg) no-repeat center center;
    filter: brightness(1.4);
    background-size: cover;
    display: block;
    top: 0;
    left: 0;
    width: 500px;
    height: 320px;
    position: absolute;
    border: solid 15px white;
    outline: 1px solid #999; }
  .screen .logo {
    font-family: 'Bigshot One', cursive;
    font-size: 1.5em;
    margin-left: -180px;
    margin-top: 0; }
  .screen .menu {
    position: absolute;
    margin-top: 90px;
    margin-left: -200px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), 3px 3px 60px rgba(0, 0, 0, 0.1); }
    .screen .menu ul {
      list-style: none; }
      .screen .menu ul li {
        text-align: right; }
        .screen .menu ul li a {
          font-size: 1.9em;
          font-weight: bold;
          font-family: 'Archivo Black', sans-serif;
          color: #555555;
          text-transform: uppercase; }
          .screen .menu ul li a:after {
            content: ' +'; }
          .screen .menu ul li a:hover {
            color: #9f9f9f; }
  .screen .categories {
    margin-right: -300px;
    margin-bottom: -70px;
    border: 1px dashed #D7D7D7;
    padding: 30px; }
    .screen .categories ul {
      list-style: none; }
      .screen .categories ul li a {
        color: #262626;
        font-size: 3em;
        font-weight: bold;
        font-family: 'Archivo Black', sans-serif;
        line-height: 90%; }

* {
  margin: auto;
  padding: 0; }

body {
  color: #888888;
  font-family: 'ABeeZee', sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: 'navegation' 'content ' 'footer';
  align-content: space-between; }

.container-box {
  display: grid;
  grid-template-columns: auto;
  margin: 0 5%; }

.content {
  width: 100%;
  grid-area: content;
  display: grid; }

header {
  grid-area: header;
  display: grid;
  width: 100%; }

a {
  text-decoration: none;
  color: #888888; }
